*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-color: whitesmoke;
}

/*inizio header*/
h1{
    display: inline-block;
    vertical-align: middle;
    font-family: sans-serif;
}

img{
    vertical-align: middle;
}

header{
    height: 60px;
    background-color: white;
}

/*fine header*/


.container{
    width: 600px;
    height: auto;
    background-color:white;
    margin-top: 40px;
    margin-left: 150px;
    border-radius: 10px;
}



/* navbar start*/

nav{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.add-task{
padding: 8px;
border-style: none;
border-radius: 5px;  
background-color: #47acf0;
border-color: #47acf0;
color:white
}

.add-section{
    padding: 8px;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
    color: gray;
}

/* navbar end*/



div{
    padding: 15px;
}

h2{
    font-family: sans-serif; 
}
p{
    padding: 5px;
    font-weight: bold;
    font-family: sans-serif;
}

span{
    font-weight: lighter;
}
.check{
    display: inline-block; /* cosi lo span passa da inline (con dimensioni fisse ) ad un ibrido inline-block(con dimensioni modificabili)*/

    width: 24px;
    height: 24px;
    
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    
    margin-right: 10px;
    
    text-align: center;
        
    
    color: #61BEA7;
    border-color: #61BEA7;
}

.cross{   
display: inline-block; /* cosi lo span passa da inline (con dimensioni fisse ) ad un ibrido inline-block(con dimensioni modificabili)*/

width: 24px;
height: 24px;

border-width: 2px;
border-style: solid;
border-radius: 50%;

margin-right: 10px;

text-align: center;
    

color: #E7372F;
border-color:#E7372F;

}


/*nomi evidenziati inizio*/
.editorial{
    background-color: #47acf0;
    color: white;
    padding:5px;
    border-radius: 15px;
    font-size: 12px;
}

.goals{
    background-color:#9b72e3;
    color:white;
    padding:5px;
    border-radius: 15px;
    font-size: 12px;
}

.recruiting{
    background-color:#64bfa8;
    color:white;
    padding:5px;
    border-radius: 15px;
    font-size: 12px;
}
.mobile{
    background-color:#f19d33;
    color:white;
    padding:5px;
    border-radius: 15px;
    font-size: 12px;
}
.website{
    background-color:#d763a0;
    color:white;
    padding:5px;
    border-radius: 15px;
    font-size: 12px;
}
.sales{
    background-color: #afc826;
    color:white;
    padding:5px;
    border-radius: 15px;
    font-size: 12px;
}
/*nomi evidenziati fine*/